body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  .section {

    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  
.me{
  width: 700px;
  height: 700px;
  position: absolute;
  top: 20px;
  left: 600px;
}

.container{ display: inline-block;}

  .main-content {
    max-width: 50%; 
    position: absolute;
    bottom: 120px;
    padding: 20px;
    left: 490px;
    font-family: Poppins;
  }

  .text{
    font-size: 40px;
    letter-spacing: 5px;
    font-family: Poppins;
    border-right: 5px solid;
    width: 53%;
    position: absolute;
    left: 490px;
    top: 580px;
    white-space: nowrap;
    overflow: hidden;
    animation: 
      typing 2s steps(34),
      cursor .4s step-end infinite alternate;
  }

  @keyframes cursor {
    50% { border-color: transparent}
  }
  
 @keyframes typing{
    from { width: 0 }
 }
  
  p {
    line-height: 1.6;
    color: #555;
  }
  
  footer {
  color: black;
   position: absolute;
   bottom: 10px;
   left:850px;
   font-size: 15px;
  }